.category-button {
    padding: 6px 16px;
    height: 32px;

    border: 1px solid var(--color-lightGray);
    border-radius: 16px;

    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.active-button {
    background: var(--color-secondary);
    color: var(--bg-neutral);
}